/* First: Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');




/* Second : Tailwind directives */ 
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Base layer with font definitions */ 
@layer base { 
  html { 
    font-family: 'Inter', sans-serif; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif; 
  background-image: url('/american.png'); 
  background-repeat: repeat;
  background-size: 15%;
  min-height: 100vh;
  position: relative;
  background-color: #1a1a1a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
